In [1]:
import pandas
import statsmodels.api as stats_api
import numpy as np
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC
import matplotlib.pyplot as plot
plot.style.use('ggplot')
%matplotlib inline

plot.rcParams["figure.figsize"]=(10,8) # Default figure size (see end)

In [2]:
iris_d = datasets.load_iris()

In [3]:
iris_d.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [4]:
iris_d['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [5]:
iris_df_dat = pandas.DataFrame(iris_d['data'], columns=iris_d['feature_names'])

In [7]:
iris_df_tg = pandas.DataFrame(iris_d['target'],columns=['species'])

In [8]:
iris_dat = pandas.concat([iris_df_dat,iris_df_tg],axis=1)

In [9]:
ovrc = OneVsRestClassifier(SVC(kernel='linear'))

X = iris_dat.iloc[:,:4]
y = np.array(iris_dat.iloc[:,4]).astype(str)

X_Train,X_Test,y_Train,y_Test = train_test_split(X,y,test_size=.3)

ovrc.fit(X_Train,y_Train)

y_pred = ovrc.predict(X_Test)

yzip = zip(y_pred,y_Test)
ovrc_df = pandas.DataFrame(yzip, columns=['predicted','actual'])
ovrc_df['correct?'] = ovrc_df.apply(lambda x: 1 if x['predicted']==x['actual'] else 0, axis=1)
ovrc_df

   predicted actual  correct?
0          2      2         1
1          2      2         1
2          0      0         1
3          0      0         1
4          1      1         1
5          2      2         1
6          2      2         1
7          2      2         1
8          1      1         1
9          2      2         1
10         2      2         1
11         0      0         1
12         1      1         1
13         2      2         1
14         2      2         1
15         0      0         1
16         1      2         0
17         2      2         1
18         1      1         1
19         2      2         1
20         1      1         1
21         2      2         1
22         0      0         1
23         1      1         1
24         0      0         1
25         1      1         1
26         0      0         1
27         2      2         1
28         2      2         1
29         0      0         1
30         1      1         1
31         1      1         1
32         0      0         1
33         2      2         1
34         0      0         1
35         0      0         1
36         1      1         1
37         0      0         1
38         1      1         1
39         1      2         0
40         0      0         1
41         0      0         1
42         2      2         1
43         0      0         1
44         0      0         1

In [11]:
ovrc_df['correct?'].sum()/ovrc_df['correct?'].count()

0.9555555555555556